@font-face {
	font-family: 'Sangha';
	src: local('Sangha'),url(./fonts/Sangha.ttf) format('truetype');
	font-family: 'Blatant';
	src: local('Blatant'),url(./fonts/Blatant.otf) format('opentype');
}
*{
  text-align: justify;
  font-family: 'Blatant';
}
.App{
  width: 100vw;
  /**/
}
p{
  text-align: center;
  font-size: large;
  font-family: 'Blatant';
  color: #1a1a1a;
}

h1{
  width: 100%;
  color: #1a1a1a;
  text-align: center;
}