@font-face {
  font-family: 'Geomanist-Regular';
	src: local('Geomanist-Regular'),url(./fonts/Geomanist-Regular.otf) format('opentype');
  
  font-family: 'GothamBlackRegular';
	src: local('GothamBlackRegular'),url(./fonts/GothamBlackRegular.ttf) format('truetype');

  font-family: 'Sangha';
	src: local('Sangha'),url(./fonts/Sangha.ttf) format('truetype');

  font-family: 'Blatant';
	src: local('Blatant'),url(./fonts/Blatant.otf) format('opentype');
}
*{
  text-align: justify;
}
/*
*{
  border: 1px solid aqua;
}
*/
.App{
  width: 100vw;
  /**/
}
p{
  font-family: 'Geomanist-Regular';
  text-align: center;
  font-size: large;
  color: #1a1a1a;
}

h1{
  font-family: 'GothamBlackRegular';
  color: #1a1a1a;
  text-align: center;
  text-transform: uppercase;
}
