@font-face {
	font-family: 'Sangha';
	src: local('Sangha'),url(./fonts/Sangha.ttf) format('truetype');
	font-family: 'Blatant';
	src: local('Blatant'),url(./fonts/Blatant.otf) format('opentype');
}
*{
  text-align: justify;
  font-family: 'Blatant';
}
.App{
  width: 100vw;
  /**/
}
p{
  text-align: center;
  font-size: large;
  font-family: 'Blatant';
  color: #1a1a1a;
}

h1{
  color: #1a1a1a;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: #e0e0e0 1px 1px 0, 2px 2px 2px rgba(206,89,55,0);
}