#menubar{
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 0px;
  /*
  left: -4vw;
  */
  z-index: 99;
  width: 100%;
  background-color: #232323;
}
#mainlogo
{
  padding-top: 1vh;
  text-align: center;
  height: 6vh;
}
#stretch{
  width: 100vw;
}
li{
  color: #cdcdcd;
}
.nav-item{
  background-color: #232323;
	display: inline-flex;
  padding: 1vw;
  margin: 0;
  font-size: 2vh;
	-webkit-transition: background .5s;
  transition: background .5s
}

ul{
	padding: 0;
	margin: 0;
	overflow: hidden;
	color: black;
	text-align: center;
	-webkit-transition: max-height 0.5s;
	transition: max-height 0.5s;
}



.nav-item:hover{
	background: #474747;
	cursor: pointer;
}

/* @900px*/
@media only screen and (max-width: 56.25em) {
	.col{ margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3{ width: 100%; }
	.side-post{ width: 42%;
			   float: left;
			   margin: -2% 0 1% 1.6%;}
}

/* @685px*/