.text1{
  position: absolute;
  display: none;
}
.text2{
  font-size: smaller;
  position: absolute;
  display: none;
  padding: calc(5vh + 3vw);
}
.hvr-shutter-out-vertical:hover .text2{
  font-size: calc(1vh + 2vw);
  
  color:  rgb(167, 160, 120);
}

.hvr-shutter-out-vertical:hover .text1{
  font-size: calc(2vh + 3vw);
  text-shadow: darkgray 1px 1px 0, 1px 1px 1px rgba(206,89,55,0);
  color:  rgb(69, 69, 69);
}

.itemcontainer img{
  z-index: -1;
  position: relative;
  width: 100vw;
  max-width: 750px;
}

.itemcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hvr-shutter-out-vertical:hover p{
  font-family: 'GothamBlackRegular';
  display: inline-block;
  width: 100%; 
  align-self: center;
  text-align: center; 
  font-size: 150%;
  top: calc(50% - 1em);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#frontside{
  display: inline-block;
  filter: contrast(100%)  saturate(1) brightness(110%) blur(0px);
}
.hvr-shutter-out-vertical:hover #frontside{
  display: none;
}
#backside{
  display: none;
}
.hvr-shutter-out-vertical:hover #backside{
  display: inline-block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: contrast(75%)  saturate(1.5)  brightness(110%) blur(0px);
}
/* Shutter Out Vertical */
.hvr-shutter-out-vertical{
    background: None;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ececec;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color:  rgb(71, 71, 71);

  }
  .hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }